
.wrapper{
  
    height: 100vh;
}



.hiw_wrapper{
    width:90%;
    margin: auto;
    border-radius: 10px;
    background-color: black;
    margin-top: 100px;
    background-image: url(https://res.cloudinary.com/djfkcfltf/image/upload/v1716981883/Untitled_2_ms3rrq.jpg);
    

    .hiw_container{
     
        max-width: 70%;
        margin: auto;
        min-height:86vh;
      
   


.hiw{
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    flex-wrap: wrap;

    .righttext{

        // border-right: .5px solid white;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 20px;
        margin-top: 4.5rem;
        flex: 1;
        margin-right: 3rem;
        

        span{
            font-size: 1rem;
    font-weight: 400;
        }

        h3{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
        }
    
    }


    .lefttext{
 

justify-content: space-around;
align-content: center;           
display: flex;

padding: 10px;
margin-top: 6rem;
flex-direction: column;
        
        flex: 1;


        .box{
            justify-content: space-between;
            align-content: center;           
            display: flex;
            gap: 1rem;


            .number{
             
               
                // border: 1px solid white;
                height: 40px;
                padding: 10px;
                width: 30px;
                box-shadow: -1px 0px 10px 0px rgb(37, 36, 36);
                font-weight: 900;
                border-radius: 5px;


             
            
             
             
            }
            .texts{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                

                h3{
                    font-size: 1.25rem;
                    font-weight: 500;
                    line-height: 1.4;

                }

                p{
                    font-size: 13px;
                }
             
            }
        

        }
    }

}


    }
}


.botton4{
    cursor: pointer;
    margin-top: 20px;
    background: #b04f19;;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
    border-radius: 12px;
    padding: 0.75rem 1.25rem;
max-width: 300px;
}
.whatsapp{

    display: flex;
    align-content: center;
justify-content: center;    
 

}

button{
    cursor: pointer;
    background: none;
    color: white;
  font-size: 15px;
     }


@media only screen and (max-width: 768px) {


    .hiw_wrapper{

       
        width: 100%;
        margin-top: 0;
        border-radius: 0;

        .hiw_container{
          
            max-width: 100%;
            display: flex;
            


            .hiw{
                padding: 20px;

            //    background-color: blue;
               width: 100%;
               flex-direction: column;

            }
        }

    }


    

   
    button{
      background: none;
      color: white;
    font-size: 15px;
       }
       .lefttext{
        background-color: red;
        display: none !important;
       }
      
  
   
  }

  
  